<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.washab.trafficapp" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light" >
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:configChanges="orientation"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EmailVerification"
            android:configChanges="orientation"
            android:label="@string/title_activity_email_verification"
            android:parentActivityName=".SignUp"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.washab.trafficapp.SignUp" />
        </activity>
        <activity
            android:name=".Home"
            android:configChanges="orientation"
            android:label="@string/title_activity_home"
            android:screenOrientation="portrait"
            android:parentActivityName=".Home">
        </activity>
        <activity
            android:name=".AddUpdate"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_update"
            android:parentActivityName=".Home"
            android:screenOrientation="portrait" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.washab.trafficapp.Home" />
        </activity>
        <activity
            android:name=".SampleUpdate"
            android:configChanges="orientation"
            android:label="@string/title_activity_sample_update"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddRequest"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_request"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddAnnouncement"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_announcement"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddDiscussion"
            android:configChanges="orientation"
            android:label="@string/title_activity_add_discussion"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".AddPreferredLocationActivity"
            android:label="@string/title_activity_add_preferred_location" >
        </activity>
    </application>

</manifest>
